{% load bootstrap3 %}

<form id="search-form" action="" method="get">
  <div class="row">
    {% for field in filter %}
      <div class="col-md-4">{% bootstrap_field field %}</div>
      {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-left">
        <a href="./" class="btn btn-primary"><i class="fa fa-eraser"></i> Limpiar filtros</a>
        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
      </div>
    </div>
  </div>
</form>
