{% extends "adminlte/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="filter-header well clearfix">
      <h4 style="margin-top: 0">Filtrar</h4>
      {% include "_filter_fields.html" with filter=filter.form %}
      {% if perms.paciente.add_paciente %}
      <div class="row">
        <div class="col-md-12 pull-right">
          <a href="{% url 'paciente:paciente_create' %}" class="btn btn-info pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Paciente
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Listado de Pacientes</h5>
          </div>
          <div class="ibox-content">
            {% render_table table %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}